/* Common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

/* Styles for Navbar Container */
.navbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
    border-bottom: solid black 1px;
    align-items: center;
}

.navbar__s1__title {
    color: #A435F0;
    padding-left: 10px;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 65%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    width: 65%;
    border: none;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Styles for Categories */
.Categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}

.Categories p {
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

/* Styles for Course Image */
.course-img {
    height: 50vh;
    /* w.r.to viewport */
}

.course-img img {
    width: 100%;
    height: 100%;
}

/* Styles for recommendation */
.recommend {
    padding: 10px;
}

.recommend__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-card {
    width: 50vh;
}

.course-card img {
    width: 100%;
    height:50%;
}

.topics{
    padding:10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top:10px ;
    flex-wrap: wrap;
}

.topics__container p{
    padding: 10px;border: solid gray 2px;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 10px;
}

.popular {
    padding: 10px;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.footer__one{
    display:flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}
.footer__two{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}